<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">

    <li class="nav-item">
      <a class="nav-link" routerLink="/productos" routerLinkActive="active">
        <i class="menu-icon mdi mdi-settings-box"></i>
        <span class="menu-title">Elemento Ejemplo</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/giftcards" routerLinkActive="active">
        <i class="menu-icon mdi mdi-wallet-giftcard"></i>
        <span class="menu-title">Giftcards Disponibles</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/regalar" routerLinkActive="active">
        <i class="menu-icon mdi mdi-gift"></i>
        <span class="menu-title">Regalar Giftcards</span>
      </a>
    </li>

  </ul>
</nav>


