<!-- Formulario de nuevo Ususario-->
<div class="col-12 grid-margin">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title" id="titulocarta">GIFTCARDS DISPONIBLES</h4>
            <div class="row image-grid">

                <div class="col-sm-4 col-md-4 ">
                    <div class="panel panel-default">
                        <div class="panel-body tamano d-flex justify-content-center">
                            <a href="" target="_blank">
                                <img alt="" class="img-responsive center-block"
                                    src="https://media.karousell.com/media/photos/products/2020/5/21/rm50_goggle_play_gift_card_mal_1590040469_c1100b5a_progressive.jpg">
                            </a>
                        </div>
                        <div class="separador panel-footer d-flex justify-content-center">
                            Google Play - $10.00
                        </div>
                        <div class="separador panel-footer d-flex justify-content-center">
                            Cantidad
                            <div class="col-sm-4 col-md-4">
                                <select class="form-control">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                    <option>6</option>
                                    <option>7</option>
                                    <option>8</option>
                                    <option>9</option>
                                </select>
                            </div>
                        </div>
                        <div class="separador panel-footer d-flex justify-content-center">
                            <button type="button" class="btn btn-success">Añadir al Carrito</button>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>